<footer class="footer">
  <small>
    <a href="#/">Sai Krishna</a>
    by Sru Jana
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", static_pages_about_path %></li>
      <li><%= link_to "Contact", static_pages_contact_path %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>
